{% extends 'base/base.html' %}
{% load static %}
{% block extcss %}
    <link rel="stylesheet" href="{% static 'mine/css/login.css' %}">
{% endblock %}
{% block extjs %}
    <script src="{% static 'mine/js/login.js' %}"></script>
{% endblock %}

{% block title %}
    爱鲜蜂 | 登录
{% endblock %}

{% block content %}
    <div class="login">
        <div class="back">
            <a href="{% url 'myapp:mine' %}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>

        <form action="{% url 'myapp:login' %}" method="post">
            {% csrf_token %}
            {#            账号#}
            <div class="form-group has-feedback" id="account">
                <div class="input-group">
                    <div class="input-group-addon">账号</div>
{#                     required="required" 指的是必填项#}
                    <input type="text" class="form-control" placeholder="数字、字母、下划线" name="account" required="required">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <i>{{ acount_error }}</i>
            </div>

            {#            密码#}
            <div class="form-group" id="password">
                <div class="input-group">
                    <div class="input-group-addon">密码</div>
                    <input type="password" class="form-control" placeholder="6~12位纯数字" name="password" required="required">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <i>{{ passwd_error }}</i>
            </div>


            <div id="subButton" class="btn btn-default">
                登录
            </div>
        </form>
    </div>
{% endblock %}
